<div class="jumbotron">
    <h2>{{"views.main.i18n for your AngularJS Weather applications" | translate}}</h2>

    <p class="lead">
        <img ng-src="images/no-filerev/yeoman-{{locale}}.png?v={{VERSION_TAG}}"><br>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="pull-left">
                <div class="form-group language-select">
                    <label for="country">{{"views.main.country" | translate}}</label>
                    <select id="country" ng-model="statessource" ng-options="country for (country, states) in countries"
                            ng-change="GetSelectedCountry()">
                        <option value=''>Select</option>
                    </select>
                </div>

                <div class="form-group language-select">
                    <label for="state">{{"views.main.state" | translate}}</label>
                    <select id="state" ng-disabled="!statessource" ng-model="citiessource"
                            ng-options="state for (state,city) in statessource"
                            ng-change="GetSelectedState()">
                        <option value=''>Select</option>
                    </select>
                </div>

                <div class="form-group language-select">
                    <label for="city">{{"views.main.city" | translate}}</label>
                    <select id="city" ng-disabled="!citiessource || !statessource" ng-model="city">
                        <option value=''>
                            Select
                        </option>
                        <option ng-repeat="city in citiessource" value='{{city}}'>{{city}}</option>
                    </select>
                </div>
                <div class="form-group language-select">
                    <label for="cnt">{{"views.main.results" | translate}}</label>
                    <select id="cnt" ng-model="cnt">
                        <option value=''>
                            Select
                        </option>
                        <option value=1>1</option>
                        <option value=5>5</option>
                    </select>
                </div>
            </div>
            <div class="pull-right margin22">
                <button type="submit" class="btn" ng-click="searchCurrentWeatherByCity(city,cnt)">
                    {{"views.main.Submit" | translate}}
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row marketing">
    <h4>{{"views.main.Weather Application" | translate}}</h4>

    <p>
        {{"views.main.Weather Application description" | translate}}
    </p>

    <h4>{{"views.main.Angular" | translate}}</h4>

    <p>
        {{"views.main.Angular description" | translate}}
    </p>

    <h4>{{"views.main.SASS" | translate}}</h4>

    <p>{{"views.main.SASS description" | translate}}</p>
    <h4>{{"views.main.Translate" | translate}}</h4>

    <p>{{"views.main.Translate description" | translate}}</p>
    <h4>{{"views.main.router" | translate}}</h4>

    <p>{{"views.main.router description" | translate}}</p>
</div>
